@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    
}
.box{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 50px auto 20px;
    padding: 40px 30px 55px;
    border-radius: 10px;
    
}
.box img{
    margin-top: 30px;
    width: 180px;
    margin-left: 115px;
}
.box h2{
    margin-top: 85px;
    margin-left: 48px;
    font-weight: 600;
    font-size: 28px;
    animation: slide_up 1s ease;
    
}
.box p{
    margin-top: 12px;
    max-width: 345px;
    margin-left: 52px;
    font-size: 17px;
    
    animation: slide_up 1.3s ease;
}
.box button{
    margin-top: 72px;
    margin-left: 75px;
    padding: 12px 100px;
    border-radius: 10px;
    border: none;
    background-color: #4ac80a;
    color: #fff;
    font-size: 18px;
    margin-bottom: 35px;
    cursor: pointer;
    animation: slide_up 1.5s ease;
    
}
.box .center{
    margin-left: 95px;
}
.box .center2{
    margin-left: 80px;
}

@keyframes slideShow {
    0%{
        transform: skewX(35deg) translateX(-900px);
    }
    /* 60%{
        transform: translateX(0px);
    }
    62%{
        transform: skewX(0deg) translateX(30px);
    }
    70%{
        transform: skew(-20deg);
    } */
    100%{
        transform: skew(0deg);
    }
}

@keyframes slide_up {
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}